<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700;1,900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/style/all.css" />
    <!-- 載入 jQ 核心 -->
    <script src="js/jquery-3.5.0.min.js"></script>
    <!-- 自己整理的 all.js，包含選單跟 FAQ -->
    <script src="js/all.js"></script>
  </head>
  <body>
    <header class="header d-flex justify-content-between">
      <h1>
        <a href="" class="mobile-menu">
          <img
            class="logo"
            src="https://raw.githubusercontent.com/lucas701780/gulp_glasses_design/main/app/assets/images/logo-new_%E5%B7%A5%E4%BD%9C%E5%8D%80%E5%9F%9F%201/logo-new_%E5%B7%A5%E4%BD%9C%E5%8D%80%E5%9F%9F%201%402x.png"
            alt=""
          />
        </a>
      </h1>
      <nav>

        <ul class="menu">
          <!-- <a href="#" class="ham-icon"> -->
            <i class="fas fa-bars" width ="24px" height="24px"></i>
          <!-- </a> -->
          <li class="menu-item"><a href="">系列鏡框</a></li>
          <li class="menu-item"><a href="">門市據點</a></li>
          <li class="menu-item"><a href="">部落格</a></li>
          <li class="menu-item"><a href="">常見問題</a></li>
        </ul>
      </nav>
    </header>
    <!-- <%- contents %> -->
    <footer class="footer"></footer>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
