a {
  color: white;
  text-decoration: none;
}
.header-wrap {
  background-color: $primary;
}
.header {
  padding: 0px 88px;
}

.logo {
  width: 80px;
  line-height:49px;
  padding:30px 0px 30px 0px;
}
.header-item {
  padding: 40px 32px 40px 32px;
  // margin-left: 64px;;
}

.header-item:hover{
  background-color:$secondary;
}