a {
  color: white;
  text-decoration: none;
  font-size:20px;
}
.header {
  padding: 0px 56px;
  background-color: $m-primary;
  @include iPad{
    padding: 0px 28px;
  }
}
.logo {
  padding-top: 30px;
  max-width: 80px;
}
.menu{
  display:flex;
  flex-direction:row;
  justify-content:end;
  @include Phone{
    display:none;
  }
}
.menu-item{
  padding: 40px 32px 40px 32px;
  @include iPad{
    padding: 40px 20px 40px 20px;
  }
}
.menu-item:hover{
  background-color:$m-secondary;
}

