.banner {
  background-image: url('/assets/images/banner.png');
  height: 840px;

}
.banner-content {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  p {
    font-size: 2.25rem;
  }
  @include iPad {
    p {
      font-size: 1.25rem;
    }
  }
  @include iPhone678Plus {
    p {
      font-size: 1rem;
    }
  }
}

// .banner-description {
//   font-size: 36px;
//   line-height: 50px;
//   color: $m-secondary;
//   @include iPhone678Plus {
//     font-size: 16px;
//     line-height: 22px;
//   }
// }
// .banner-slogan {
//   line-height: 90px;
//   @include iPhone678Plus {
//     line-height: 45px;
//   }
// }

// .intro {
//   background-color: $m-bg-color;
//   padding: 64px 0px 80px 0px;
//   margin-bottom: 64px;
//   text-align: center;
//   @include Phone {
//     padding: 40px 0px 80px 0px;
//     margin-bottom: 40px;
//   }
//   @include iPhone678Plus {
//     padding: 32px 0px 56px 0px;
//     margin-bottom: 24px;
//   }
//   h3 {
//     padding-bottom: 60px;
//     @include Phone {
//       padding-bottom: 20px;
//     }
//   }
// }

// .intro-item {
//   padding: 16px 37px 24px 37px;
//   @include Phone {
//     padding: 12px 50px 12px 50px;
//   }
//   img {
//     width: 80px;
//     height: 80px;
//     margin-bottom: 40px;
//   }
//   h4 {
//     padding-bottom: 8px;
//   }
//   p {
//     text-align: left;
//     line-height: 1.5rem;
//     max-width: 208px;
//     @include Phone {
//       max-width: 224px;
//     }
//   }
// }

// /* product */
// .product-list li {
//   display: flex;
//   margin-bottom: 2rem;
// }

// .product-list img,
// .product-img {
//   width: 60%;
// }

// .product-list li:nth-child(2) {
//   justify-content: space-between;
// }

// .product-list li:last-child {
//   margin-bottom: 0;
// }

// .product-list h2 {
//   font-size: 3rem;
//   text-transform: uppercase;
//   display: flex;
//   align-items: center;
//   font-style: italic;
//   font-weight: bolder;
//   margin-left: 1.5rem;
// }

// .product-list li:nth-child(2) h2 {
//   margin-right: 1.5rem;
// }

// .product-list li:nth-child(2) img {
//   width: 100%;
// }

// .product-img {
//   position: relative;
// }

// .product-img::before {
//   content: '';
//   background: url('/assets/images/product-2-color.png') no-repeat;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   opacity: 0;
//   background-size: contain;
// }

// .product-img:hover::before {
//   opacity: 1;
// }
