.series-menu .container {
  @include iPad {
    margin: 0;
    max-width: 100%;
    padding: 0;
  }
}

.series-menu li {
  position: relative;
  border-left: 1px solid #dcdcdc;
  padding: 1.5rem 2.5625rem;
  @include iPad {
    padding: 1rem 1.25rem;
  }
  @include Phone {
    padding: 1rem 0.5625rem;
  }
}
.series-menu li:last-child {
  border-right: 1px solid #dcdcdc;
}

.series-menu li:hover::before {
  content: '';
  position: absolute;
  height: 0.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #aa0601;
}
.series-menu .active::before {
  content: '';
  position: absolute;
  height: 0.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #aa0601;
}

.series-menu a {
  font-size: 2.625rem;
  @include iPad {
    font-size: 1.75rem;
  }
  @include Phone {
    font-size: 0.875rem;
  }
}
.series-menu:nth-child(1) img,
.series-menu:nth-child(2) img {
  padding-right: 0.5rem;
  width: 3rem;
  @include iPad {
    font-size: 1.75rem;
    width: 2rem;
  }
  @include Phone {
    width: 1rem;
  }
}
.series-menu:nth-child(3) img {
  padding-right: 0.5rem;
  width: 2.2rem;
  @include iPad {
    font-size: 1.75rem;
    width: 1.4375rem;
  }
  @include Phone {
    width: 0.673125rem;
  }
}

.optical-banner {
  margin-bottom: 5.5rem;
  @include iPad {
    margin-bottom: 2.5rem;
  }
  @include Phone {
    margin-bottom: 1.5rem;
  }
}

.optical-banner li {
  width: 50%;
}

.optical-glasses-1 {
  background-image: url('/assets/images/banner-1.png');
  background-size: cover;
  background-position: center center;
  height: 309px;
}
.optical-glasses-2 {
  background-image: url('/assets/images/banner-2.png');
  background-size: cover;
  background-position: center center;
  height: 309px;
}
.optical-glasses-3 {
  background-image: url('/assets/images/banner-3.png');
  background-size: cover;
  background-position: center center;
  height: 309px;
}

.optical-glasses-4 {
  background-image: url('/assets/images/banner-4.png');
  background-size: cover;
  background-position: center center;
  height: 309px;
}

.optical-products {
  h3 {
    font-size: 2.625rem;
    font-weight: 500;
    @include iPad {
      font-size: 2rem;
    }
    @include Phone {
      font-size: 1.25rem;
    }
  }
  p {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 3rem;
    @include iPad {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
    @include Phone {
      font-size: 1rem;
      margin-bottom: 1.25rem;
    }
  }
}

.optical-products nav{
  margin-bottom: 5.5rem;
  @include iPad {
    margin-bottom: 3.3125rem;
  }
  @include iPhone678Plus {
    margin-bottom: 2.5rem;
  }
}

.optical-product-list {
  li {
    width: 25%;
    margin-bottom: 1.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    @include iPad {
      width: 50%;
      padding-right: 1.5rem;
    }
    @include iPhone678Plus {
      width: 100%;
      padding: 0rem;
    }
  }
  img {
    width: 100%;
  }
  flex-wrap: wrap;
  margin-bottom: 3.3125rem;
  @include iPad {
  }
  @include iPhone678Plus {
    margin-bottom: 2.5rem;
  }
}

.rounded {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #5f3e2d;
  &:nth-of-type(2) {
    background-color: #b75929;
    margin-left: 8px;
    @include iPhone678Plus {
      width: 16px;
      height: 16px;
    }
  }
  @include iPhone678Plus {
    width: 16px;
    height: 16px;
  }
}

