@import './m_mixin'; 
/* utils class */

/* flex */

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-fill{
  flex:1 1 auto;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}


.align-items-baseline {
  align-items: baseline;
}
.align-items-center {
  align-items: center;
}

.pb-5 {
  padding-bottom: 5rem;
  @mixin iPad {
    padding-bottom: 2.5rem;
  }
  @mixin iPhone678Plus {
    padding-bottom: 1.5rem;
  }
}

.mr-1 {
  margin-right: 8px;
  @mixin iPhone678Plus {
    margin-right: 0.125rem; // 2px
  }
}

.mr-2 {
  margin-right: 1.5rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

@media(max-width: 414px) {
  .mb-1 {
    margin-bottom: 0.125rem;
  }
}

.mb-2{
  margin-bottom: 2.5rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  @mixin iPad {
    .container {
      max-width: 672px;
    }

  }
}

@media (max-width: 992px) {
  .container {
    max-width: 672px;
  }
}

@media (max-width: 414px) {
  .container {
    max-width: 352px;
  }
}

/* text */

.text-primary {
  color: #650300;
}

.text-secondary{
  color: #AA0601;
}

.text-bolder {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}
.text-gray {
  color: #707070;
}

.bg-cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-dark {
  background-color: #AA0601;
  color: white;
}

.bg-light {
  background-color: #AA06010D;
}

.h-100{
  height: 100%;
}
.w-100{
  height: 100%;
}