// 圖片取代文字
@mixin hide-text {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
// 做一個圓
@mixin circle($size,$bgcolor) {
  border-radius: 50%;
  width:$size;
  height:$size;
  font-size:$size / 3;
  background-color:$bgcolor;
}
@mixin background-image($imageURL){
  background-image: url(https://i.ibb.co/gdQ90xB/hero.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
}
